@model ATM.Domain.Entities.Card
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Edit @Model.Cardname</h1>
@using (Html.BeginForm("Edit","Admin"))
{
    @Html.EditorForModel()
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "CardsAdminList")
}